* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 1366px;
  margin: 0 auto;
  font-family: roboto;
}

header {
  width: 1366px;
  margin: 0 auto;
  background: linear-gradient(
    105.79deg,
    rgba(127, 23, 231, 0.8) 2.36%,
    rgba(23, 44, 231, 0.8) 25.81%,
    rgba(1, 4, 32, 0.6) 100.86%
  );
}

.header {
  display: flex;
  height: 76px;
  justify-content: space-between;
  margin: 0 125px;
  position: relative;
  align-items: center;
}

.logo image {
  height: 35px;
}

.menu {
  flex: 1;
  position: absolute;
  right: 0;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin-right: 30px;
  font-size: 16px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.menu ul li a:hover {
  color: #0d3982;
  font-weight: 500;
  border-bottom: 2px solid orangered;
}

/*banner */
.banner {
  color: white;
  width: 1366px;
  height: 668px;
  background: linear-gradient(
    105.79deg,
    rgba(127, 23, 231, 0.8) 2.36%,
    rgba(23, 44, 231, 0.8) 25.81%,
    rgba(1, 4, 32, 0.6) 100.86%
  );
}
.banner .banner-content {
  position: relative;
  top: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .banner-content .title {
  font-family: Anton;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 117px;
  text-align: center;
  color: #ffffff;
  width: 884px;
  height: 110px;
}
.banner .banner-content .title-chil {
  text-align: center;
  width: 556px;
  height: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-top: 10px;
}
.banner .banner-content .banner-content_icon {
  margin-top: 26px;
  display: flex;
  align-items: center;
}
.banner .banner-content .banner-content_icon img:first-child {
  width: 97px;
  height: 55px;
  margin-right: 13px;
}
.banner .banner-content .banner-content_icon img:last-child {
  width: 141px;
  height: 27px;
  background-color: white;
}
.banner .banner-content .film {
  width: 178px;
  height: 19px;
  margin-top: 35px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
.banner .banner-content .film a {
  color: white;
}
.banner .banner-content .colum {
  height: 112px;
  width: 0px;
  background-color: white;
  margin-top: 103px;
  border: 1px solid #d7d0d0;
}

/*our service*/
.our-service {
  margin: 0 auto;
  margin-top: 59px;
  background-color: white;
  height: 56px;
  width: 1118px;
  position: relative;
}
.our-service .our-service_op {
  margin-top: 40px;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  color: #0d3982;
  font-weight: 800;
  height: 100%;
  opacity: 0.1;
  filter: alpha(opacity=180);
}
.our-service .our-service_cont {
  font-family: Anton;
  font-style: normal;
  font-weight: 1000;
  font-size: 50px;
  line-height: 65px;
  height: 100%;
  color: #0d3982;
  text-align: center;
  margin-top: -56px;
}
.change-page-control{
  position: relative;
  top: 31px;
  right: -1185px;
}

.about {
  margin: 0 125px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}
.about .about1 {
  height: auto;
  width: 265px;
  z-index: 0;
}
.about .about1 img {
  width: 100%;
  height: 240px;
  z-index: 0;
}
.about .about1 .about-content_note {
  z-index: 5;
  opacity: 0.7;
  margin-left: 13px;
  display: flex;
  justify-content: start;
  height: 215px;
  width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: -230px;
  align-items: center;
  background: linear-gradient(
    103.77deg,
    rgba(0, 178, 255, 0.84) -6.28%,
    rgba(23, 44, 231, 0.8) 20.51%,
    #061173 100.88%
  );
  color: white;
  padding-left: 12px;
}
.about .about1 .about-content {
  margin-top: 24px;
  width: 263px;
  height: 79px;
  font-family: Anton;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  /* or 150% */
  color: #333333;
  text-align: center;
}
.about .about2 {
  height: 240px;
  width: 265px;
  z-index: 0;
}
.about .about2 img {
  width: 100%;
  height: 240px;
  z-index: 0;
}
.about .about2 .about-content_note {
  z-index: 5;
  opacity: 0.7;
  margin-left: 13px;
  display: flex;
  justify-content: start;
  height: 215px;
  width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: -230px;
  align-items: center;
  background: linear-gradient(
    103.77deg,
    rgba(0, 178, 255, 0.84) -6.28%,
    rgba(23, 44, 231, 0.8) 20.51%,
    #061173 100.88%
  );
  color: white;
  padding-left: 12px;
}
.about .about2 .about-content {
  margin-top: 24px;
  width: 263px;
  height: 79px;
  font-family: Anton;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  /* or 150% */
  color: #333333;
  text-align: center;
}
.about .about3 {
  height: 240px;
  width: 265px;
  z-index: 0;
}
.about .about3 img {
  width: 100%;
  height: 240px;
  z-index: 0;
}
.about .about3 .about-content_note {
  z-index: 5;
  opacity: 0.7;
  margin-left: 13px;
  display: flex;
  justify-content: start;
  height: 215px;
  width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: -230px;
  align-items: center;
  background: linear-gradient(
    103.77deg,
    rgba(0, 178, 255, 0.84) -6.28%,
    rgba(23, 44, 231, 0.8) 20.51%,
    #061173 100.88%
  );
  color: white;
  padding-left: 12px;
}
.about .about3 .about-content {
  margin-top: 24px;
  width: 263px;
  height: 79px;
  font-family: Anton;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  /* or 150% */
  color: #333333;
  text-align: center;
}
.about .about4 {
  height: 240px;
  width: 265px;
  z-index: 0;
}
.about .about4 img {
  width: 100%;
  height: 240px;
  z-index: 0;
}
.about .about4 .about-content_note {
  z-index: 5;
  opacity: 0.7;
  margin-left: 13px;
  display: flex;
  justify-content: start;
  height: 215px;
  width: 90%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: -230px;
  align-items: center;
  background: linear-gradient(
    103.77deg,
    rgba(0, 178, 255, 0.84) -6.28%,
    rgba(23, 44, 231, 0.8) 20.51%,
    #061173 100.88%
  );
  color: white;
  padding-left: 12px;
}
.about .about4 .about-content {
  margin-top: 24px;
  width: 263px;
  height: 79px;
  font-family: Anton;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  /* or 150% */
  color: #333333;
  text-align: center;
}

.banner-img {
  margin: 25px auto;
  height: 603px;
  width: 1118px;
  margin-top: -190px;
}
.banner-img img {
  height: 100%;
  width: 100%;
}

.quanty {
  margin-top: 25px;
  height: 380px;
  background-color: #e2e8f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.quanty .quanty1 {
  width: 167px;
  height: 284px;
}
.quanty .quanty1 img {
  height: 100%;
  width: 100%;
}
.quanty .quanty2 {
  width: 167px;
  height: 284px;
}
.quanty .quanty2 img {
  height: 100%;
  width: 100%;
}
.quanty .quanty3 {
  width: 167px;
  height: 284px;
}
.quanty .quanty3 img {
  height: 100%;
  width: 100%;
}
.quanty .quanty4 {
  width: 167px;
  height: 284px;
}
.quanty .quanty4 img {
  height: 100%;
  width: 100%;
}

.contentta {
  width: 1118px;
  height: auto;
  margin: 0 125px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentta .contentt1 {
  width: 362px;
  height: 252px;
}
.contentta .contentt1 .contentt1-img {
  background-color: #daecd9;
}
.contentta .contentt1 img {
  height: 100%;
  width: 100%;
}
.contentta .contentt1 .time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  position: relative;
  bottom: 15px;
  left: 60%;
  
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
}
.contentta .titlee {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}
.contentta .titlee-conf {
  margin-top: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6d6969;
}

.contenttb {
  position: relative;
  top: 120px;
  width: 1118px;
  height: auto;
  margin: 0 125px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenttb .contentt1 {
  width: 362px;
  height: 252px;
}
.contenttb .contentt1 .contentt1-img {
  background-color: #daecd9;
}
.contenttb .contentt1 img {
  height: 100%;
  width: 100%;
}
.contenttb .contentt1 .time {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  position: relative;
  bottom: 15px;
  left: 60%;
  
  display: inline-block;
  border-radius: 4px;
  padding: 4px;
}
.contenttb .titlee {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}
.contenttb .titlee-conf {
  margin-top: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6d6969;
}

.logoo {
  height: 752px;
  margin: 0;
  margin-top: 335px;
}
.logoo img {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.logoo .client {
  width: 800px;
  margin: 0 auto;
  margin-top: -700px;
  height: auto;
}
.logoo .client .our-client {
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 65px;
  /* identical to box height, or 130% */
  text-align: center;
  /* White */
  color: #ffffff;
  margin-bottom: 56px;
}
.logoo .client .client-logo {
  display: flex;
  justify-content: center;
  z-index: 5;
}
.logoo .client .client-logo .client-logo1 {
  flex: 1;
  height: 124px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}
.logoo .client .client-logo .client-logo1 img {
  height: 91px;
  width: 172px;
  object-fit: contain;
}
.logoo .client .client-logo .client-logo2 {
  flex: 1;
  height: 124px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}
.logoo .client .client-logo .client-logo2 img {
  height: 99px;
  width: 104px;
  object-fit: contain;
}
.logoo .client .client-logo .client-logo3 {
  flex: 1;
  height: 124px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}
.logoo .client .client-logo .client-logo3 img {
  height: 99px;
  width: 147px;
  object-fit: contain;
}
.logoo .client .client-logo .client-logo4 {
  flex: 1;
  height: 124px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}
.logoo .client .client-logo .client-logo4 img {
  height: 99px;
  width: 169px;
  object-fit: contain;
}

.custom {
  height: auto;
  width: 1118px;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.custom .custom-left {
  margin-right: 20px;
  height: auto;
  width: 543px;
  display: flex;
  padding: 24px 24px 34px 24px;
  border: 1px solid #e7e7e7;
  position: relative;
}
.custom .custom-left::after {
  content: "";
  position: absolute;
  left: 80px;
  bottom: -32px;
  border-width: 16px 24px;
  border-style: solid;
  border-color: #e7e7e7 transparent transparent
}
.custom .custom-left .custom-left1 {
}
.custom .custom-left .custom-left2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* textcolor */
  color: #333333;
  margin-left: 10px;
}
.read-more{
  position: absolute;
  /* left: 81.43%; */
  right: 6.07%;
  top: 87.16%;
  bottom: 44.66%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #0D3982;
  text-decoration: none;
}
.custom .custom-right {
  margin-right: 20px;
  height: auto;
  width: 543px;
  display: flex;
  padding: 24px 24px 34px 24px;
  border: 1px solid #e7e7e7;
  position: relative;
}

.custom .custom-right::after {
  content: "";
  position: absolute;
  left: 80px;
  bottom: -32px;
  border-width: 16px 24px;
  border-style: solid;
  border-color: #e7e7e7 transparent transparent
}
.custom .custom-right .custom-left1 {
}
.custom .custom-right .custom-left2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* textcolor */
  color: #333333;
  margin-left: 10px;
}

.name {
  height: 86px;
  width: 1118px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
}
.name .name1,
.name .name2 {
  flex: 1;
  display: flex;
}
.name .name1 img,
.name .name2 img {
  height: 100%;
  width: 86px;
  border-radius: 55px;
  margin-left: 45px;
}
.name .name1 .name-per,
.name .name2 .name-per {
  margin-left: 25px;
  margin-top: 15px;
}
.name .name1 .name-per h4,
.name .name2 .name-per h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* textcolor */
  color: #333333;
}
.name .name1 .name-per p,
.name .name2 .name-per p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* text-color-second */
  color: #6d6969;
}

/* Footer */
.footer-content {
  background: #f5f5f5;
}
.footer {
  margin: 48.27px 125px;
  height: 580px;
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}
.footer1 {
  margin-top: 46px;
  flex: 2;
  height: 400px;
}
.corpotion {
  width: 80%;
}
.corpotion .title,
.solution .title,
.office-us .title,
.fin-tech .title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.solution .title,
.office-us .title,
.fin-tech .title {
  margin-top: 24px;
}

.corpotion div p,
.solution div p,
.office-us div p,
.fin-tech div p {
  margin-top: 17px;
  font-family: Roboto;
  color: #6d6969;
  font-size: 14px;
  max-width: 323px;
}

.socical-bottom {
  margin-top: 17px;
  display: flex;
  font-size: 40px;
}

.socical-bottom i {
  margin-right: 17px;
}

.footer__item {
  display: flex;
  align-items: baseline;
}

.footer__item img {
  margin-right: 17px;
}
.footer1 .socical-bottom img{
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.footer2 {
  margin-top: 46px;
  flex: 2;
  height: 400px;
}
.footer2-content {
  width: 80%;
}
.footer2-content .title {
  font-style: normal;
  font-weight: bold;
}

.footer2-content form label {
  margin-top: 17px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6d6969;
}
.footer2-content form label span{
  color: red;
}

.footer2-content form input {
  padding-right: 200px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* padding-bottom: 16px; */
  background: #f5f5f5;
  margin-bottom: 5px;
}

.footer2-content form .form-control-message {
  padding-bottom: 81px;
}

.footer2-content button {
  float: right;
  margin-top: 31px;
  padding: 13px 56px 11px 57px;
  border-radius: 6px;
  background: #0d3982;
  color: white;
  font-size: 14px;
  line-height: 16px;
}

.footer3 {
  margin-top: 46px;
  height: 400px;
  flex: 1;
}
.footer3 .title {
  font-weight: bold;
  font-size: 16px;

  color: #333333;
}
.footer3 p {
  margin-top: 17px;
  line-height: 25px;
  font-weight: bold;
  color: #6d6969;
  font-size: 14px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  background: linear-gradient(
    103.77deg,
    rgba(0, 178, 255, 0.84) -6.28%,
    rgba(23, 44, 231, 0.8) 20.51%,
    #061173 100.88%
  );
}

.footer-bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* White */
  color: #ffffff;
}

/**/
.search {
  height: 38px;
  border: 1px solid #d2d2d2;
  margin: 0 125px;
  position: relative;
  top: 30px;
  display: flex;
}
.search i {
  margin-left: 8px;
}
.categori {
  width: 141px;
  height: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  border-right: 1px solid #d2d2d2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tag {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  border-right: 1px solid #d2d2d2;
}
.search-news i {
  position: absolute;
  right: 3px;
  top: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
}
.search-news form input {
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  margin-top: 10px;
  margin-left: 30px;
  outline: none;
}
.categori-block {
  width: 284px;
  height: 130px;
  border: 1px solid #d2d2d2;
  position: absolute;
  left: 0;
  top: 39px;
  display: none;
  border-top: none;
  background-color: #ffffff;
  
}
.categori-block ul {
  display: flex;
  flex-wrap: wrap;
}
.categori-block ul li {
  list-style: none;
  margin-right: 35px;
  margin-top: 15px;
  margin-left: 10px;
}
.categori-block ul li:nth-child(2) {
  position: relative;
  right: 16px;
}
.categori-block ul li label {
  margin-left: 6px;
}
#largeCheckbox {
  width: 16px;
  height: 16px;
}

#downn {
  display: none;
}


/*about*/
.about {
  width: 1118px;
  margin: 0 auto;
  margin-top: 40px;
  height: 559px;
  
}
.about svg{
  margin-right: 8px;
}
.about_content {
  
  height: 100%;
  position: relative;

  display: flex;
  justify-content: center;
}
.about_content-left {
    flex: 1;
  height: 100%;
  padding-right: 0px;
}
.about_content-left .ima {
  margin-top: 25px;
  width: 100%;
  height: 320px;
}
.about_content-left .ima img {
  height: 100%;
  width: 100%;
}
.time {
  margin-top: 17px;
  display: flex;
  width: 546px;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6d6969;
}

.time .time-detail {
  display: flex;
}

.time .time-detail img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  
}

.about_content-left--title {
  position: absolute;
  top: 391px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}
.about_content-left--cont {
  width: 546px;
  position: absolute;
  top: 427px;
}
.about_content-left--cont p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #333333;
}
.about_content-right {
    padding-top: 25px;
    
    width: 546px;
    height: 100%;
    flex: 1;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
}
.about_content-right2{
  height: 100%;
  width: 260px;
  
}
.about_content-right1{
  height: 100%;
  flex: 1;
  margin-right: 12px;
}

.about_content-right1 .com{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* text-color-second */

color: #6D6969;
margin-top: 17px;
}
.about_content-right1 #com1{
  margin-top: 0;
}
.about_content-right1--top{
  border-bottom:1px solid #CCCCCC;
  padding-bottom: 25px;
}
.about_content-right1--top1-title{
  margin-top: 8px;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

/* textcolor */

color: #333333;
}
.about_content-right1--top1-time{
  display: flex;
  justify-content: start;
  margin-top: 8px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* text-color-second */

color: #6D6969;
}

.imb img{
  height: 150px;
  width: 260px;
}
.about_content-right2 .com{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  /* text-color-second */

  color: #6D6969;
  margin-top: 7px;
}
.about_content-right2--top-title{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

/* textcolor */

color: #333333;
margin-top: 5px;
}
.about_content-right2--top-time{
  display: flex;
  justify-content: start;
  margin-top: 7px;
  margin-bottom: 24px;
}
.about_content-right2--top-time p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* text-color-second */

color: #6D6969;
}


